{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div>
        <p id="well" >  Well Come To  My Website  </p>

        <p id="birjand">  Birjand City  </p>

        <img src="static/picture/map.png" alt="map"  />
        <img src="static/picture/cordinat.png" alt="cordinat"   />

        <p class="intro">
              Birjand is the capital of the Iranian province of  <b> South Khorasan </b>.The city is known for its  <b>saffron, barberry, jujube </b>, and
              handmade carpet exports.Birjand had a population of <em> 250,000 in 2021 </em> This city has a very old history and has been the center of
              science and culture for many years .Many celebrities and astronomers in different sciences are born.
        </p>

    </div>

        <hr class="class-1" style="width: 600px" />

        <p class="intro">

            Bīrjand commands a <b>  high strategic position </b> in the eastern part of Iran , almost halfway between Zāhedān near
            the borders of Pakistan and Afghanistan, on the one hand, and Mašhad, center of Khorasan on the other.
            By virtue of this geographic situation it played important roles in both world wars, as a major link
            in the defense line of the East Persian Cordon during the first (Dickson, p. 37; Wright, p. 173) and as
            a key point on the Allies’ supply route to the USSR in the second (Skrine, pp. 89, 94, 138, 189;
        </p>

        <hr class="class-1" style="width: 600px" />

        <p class="intro">
            the <b> British </b> opened a consulate there in 1909, see Wright, p. 87). The modern Mašhad-Zāhedān highway is
            of tremendous economic and military importance; it was completed in 1359 Š./1980, bypasses Bīrjand by only
            a few kilometers, and thus enables the city to maintain its old economic importance as the main distribution center in southern Khorasan.
        </p>

{% endblock %}