{% extends "layout.html" %}

{% block title %}
    info
{% endblock %}

{% block main %}

    <h2  class="color"> 1.History  </h2>
        <div>
            <img src="static/picture/history.jpg" alt="history"  />
            <p >
                The first citation of the city in the historical literature belongs to the famous book Mojem Alboldan, by Yaqut Homavi (13th century) which introduces
                the Birjand as the most beautiful town in the Qohestan. Before this, Birjand had been probably not as big and important as a municipality but rather as
                a rural community.However, the Birjand geographical area had its historical and political importance long before the emergence of the city of Birjand.
                Many citations of the region are available in the original literature like Ehya -ol- Molook of the once important localities in the area.Apart from
                literature, the oldest evidence on the history of the region is the ancient Lakh-Mazar inscription in the Kooch village some 25 km (16 mi)southeast of
                Birjand. Numerous fine drawings and inscriptions are carved on an igneous rock surface.The inscriptions include pictograms as well as Arsacid Pahlavi,
                Sasanian Pahlavi, Arabic and Persian scripts.

             </p>
             <hr class="class-1" style="width: 600px" />
        </div>

    <h3 class="color"> 2.Climate   </h3>

    <div>
        <img src="static/picture/climate.png" alt="climate" />
        <p>
            Birjand has a cold desert climate (Köppen climate classification BWk) with hot summers and cool winters and a significant
            difference between day and night temperatures.Precipitation falls mostly in winter and spring. <br>
        </p>

    </div>


    <h4  class="color"> 3.Education  </h4>
    <div>
        <p>
            It is said that the Shokatiyeh School in Birjand together with Darolfonoon in Tehran were the first modern public schools of higher education
            in Iran in the mid-19th century. Ever since then, Birjand has amassed an abundance of institutions of higher education and become an important
            location for research and development. The city contains such universities and academic institutions as: <br>
    </p>


    </div>
    <ol   class="radif" >
            <li > <a href="https://en.wikipedia.org/wiki/University_of_Birjand" target="_blank">University of Birjand</a>  </li>
            <li>  <a href="https://en.wikipedia.org/wiki/Birjand_University_of_Medical_Sciences" target="_blank"> Birjand University of Medical Sciences</a> </li>
            <li>  <a href="https://en.wikipedia.org/wiki/Payame_Noor_University" target="_blank"> Payame Noor University</a> </li>
            <li>  <a href="https://iaubir.ac.ir/en/" target="_blank">Islamic Azad University of Birjand</a> </li>
            <li>  <a href="https://www.birjandut.ac.ir/" target="_blank">University of Applied Science and Technology</a> </li>
            <li>  <a href="https://psb.cfu.ac.ir/" target="_blank">Academy of Tarbiat-e Moalem</a> </li>

    </ol>
     <hr class="class-1" style="width: 600px" />


    <h5 class="color"> 4.Notable people </h5>
    <ol  class="radif">
        <li> <a href="https://en.wikipedia.org/wiki/Al-Birjandi" target="_blank" >Abd al-Ali al-Birjandi</a>                                                     </li>
        <li> <a href="https://en.wikipedia.org/wiki/Amir_Ali_Sheibany" target="_blank"> Amir Ali Sheibany  </a>    </li>
        <li> <a href="https://en.wikipedia.org/wiki/Asadollah_Alam" target="_blank">Asadollah Alam</a>                                                          </li>
        <li> <a href="https://en.wikipedia.org/wiki/Sima_Bina" target="_blank"> Sima Bina      </a>                                                             </li>
        <li> <a href="https://en.wikipedia.org/wiki/Mohammad_Hassan_Ganji" target="_blank"> Mohammad Hassan Ganji      </a>                                     </li>
        <li> <a href="https://en.wikipedia.org/wiki/Mohammad-Reza_Hafeznia" target="_blank"> Mohammad-Reza Hafeznia  </a>       </li>
        <li> <a href="https://fa.wikipedia.org/wiki/%D8%A7%D8%A8%D9%86_%D8%AD%D8%B3%D8%A7%D9%85_%D8%AE%D9%88%D8%B3%D9%81%DB%8C" target="_blank"> Ibn Hessam Khusfi </a></li>
    </ol>
{% endblock %}